@keyframes seperate {
    0% {
        text-shadow: -11px 8px 10px rgba(0, 185, 209),  
        -3px -8px 10px #51ff00,
        7px -6px 10px rgb(230, 1, 173);
    } 
    30% {
        text-shadow: -14px -11px 10px 0px rgba(0, 185, 209),   
        3px 8px 10px 6px #51ff00,
        -7px -6px 10px 0px rgb(230, 1, 173);
    }
    60% {
        text-shadow: -9px 8px 10px 0px rgba(0, 185, 209),    
        -3px -8px 10px 0px #51ff00,
        7px -6px 10px 0px rgb(230, 1, 173);
    }
}

p {
    color: white;
}

#navBtn {
    visibility: hidden;
}

.side-nav {
    display: block;
    text-align: right;
    position: absolute;
    top: 4%;
    left: 100px;
    padding: 25px;
    border-radius: 20px;
}

.side-nav img:hover {
    color: #00fc54d2;
    cursor: crosshair;
    animation-name: seperate;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    filter: hue-rotate(180deg);
    -webkit-transition: filter .3s ease-in-out;
}

.bio {
    display: flex;
}

/* .contact {
    display:flex;
    position: fixed;
    padding: 1px;
    bottom: 0;
    left: 30%;
} */

.contact img {
    padding: 5px;
    vertical-align: top;
    filter: grayscale(100%);
    -webkit-transition: filter .3s ease-in-out;
}

.contact p {
    position: relative;
    top: -42px;
    font-size: 35px;
}

.content {
    position: relative;
    left: 5%;
}

.pop-up {
    background-color: rgb(46, 46, 46);
    display: none;
    max-width: fit-content;
    max-height: fit-content;
    padding: 10px;
    border-radius: 10px;
    opacity: 70%;
}

.pop-up.activate {
    display:flex;
}

.pop-up img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.pop-up video {
    padding: 10px;
    position: inherit;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

/* .feat-item {
    display: flex;
    padding: 20px;
    object-fit: contain;
    width: 512px;
    height: 712px;

} */

/* #feat-item img {
    display: flex;
    padding: 10px;
    max-width: fit-content;
    max-height: fit-content;
    
    object-fit: contain;
    border-radius: 10px;
} */

#thumb-bar {
    display:flex;
    position: flex;
    width: 1200px;
    margin: 5px;
    border-radius: 15px;
    padding: 5px;
    bottom: 25px;
    overflow: hidden;
}

#thumb-bar img {
    max-width: 120px;
    max-height: 120px;
    vertical-align: bottom;
}

#thumb-bar video {
    max-width: 120px;
    max-height: 120px;
    vertical-align: bottom;
}

.thumb {
    padding: 6px;
    filter: grayscale(100%);
    -webkit-transition: filter .3s ease-in-out;
    cursor: crosshair;
}

.thumb:hover {
    filter: grayscale(0%);
    -webkit-transition: filter .3s ease-in-out;
}

a {
    color: #E7AA0D;
    border-radius: 20px;
    font-size: 50px;
    filter: hue-rotate(0deg);
    -webkit-transition: filter .3s ease-in-out;
    transition: color .3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

a:hover {
    color: #00fcdad2;
    cursor: crosshair;
    animation-name: seperate;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    filter: hue-rotate(180deg);
    -webkit-transition: filter .3s ease-in-out;
}

a:active {
    color: #00fc54d2;
    cursor: crosshair;
    animation-name: seperate;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    filter: hue-rotate(180deg);
    -webkit-transition: filter .3s ease-in-out;
}

body {
    background-color: black;
}

/* MOBILE */
/*  */
/*  */

@media screen and (max-width: 640px) {
    /* [class*="col "] {
        width: 50%;
    } */
    #navBtn {
        visibility: visible;
    }
    .side-nav {
        position: fixed;
        text-align: left;
        /* font-size: 18px; */
        left: 10px;
        width: 0;
        top: 5%;
        padding: 1px;
        font-size: 8;
        transition: 0.7s;
        overflow-x: hidden;
    }

    .side-nav a {
        font-size: 35px;
    }

    /* .pop-up {
        background-color: rgb(46, 46, 46);
        display: none;
        position: flex;
        max-height: 900px;
        max-width: 630px;
        padding: 10px;
        top:0;
        left:0;
        border-radius: 10px;
    }
    
    .pop-up.activate {
        display:flex;
        object-fit: scale-down;
    }
    
    .pop-up video {
        padding: 10px;
        position: flex;
        max-height: 100%;
        max-width: 100%;
        object-fit: scale-down;
    }
    
    .pop-up img {
        padding: 10px;
        position: flex;
        max-height: 100%;
        max-width: 100%;
        object-fit: scale-down;
    } */

    #thumb-bar {
        display:flex;
        position:fixed;
        width: 400px;
        height: 90px;
        border-radius: 15px;
        bottom: 100px;
        left: 0;
        overflow:scroll;
    }
    
    #thumb-bar img {
        position: flex;
        max-width: 80px;
        max-height: 80px;
        vertical-align: bottom;
    }
    
    #thumb-bar video {
        position: flex;
        max-width: 80px;
        max-height: 80px;
        vertical-align: bottom;
    }
    
    .thumb {
        padding: 6px;
        filter: grayscale(100%);
        -webkit-transition: filter .3s ease-in-out;
        cursor: crosshair;
    }

    .mobile-about {
        position: relative;
        top: 390px;
    }

    /* .bio {
        display: flex;
    } */
    
    .contact {
        /* display:flex; */
        padding: 1px;
        position: fixed;
        bottom: 0;
        left: 30%;
    }
    .contact img {
        padding: 5px;
        /* vertical-align: top; */
    }
    .contact p {
        position: relative;
        /* top: -42px; */
        /* font-size: 35px; */
    }
}