{% extends 'index.html' %}
{% load static %}
{% block content %}

<style>
    .contact a {
        filter: grayscale(100%);
        -webkit-transition: filter 0.5s ease-in-out;
    }
    .contact a:hover {
        filter: grayscale(0%);
        -webkit-transition: filter 0.5s ease-in-out;
    }

</style>

<div class='row'>
    <div class='mobile-about'>
        <div class='col s12'>
            <div class='bio'>
                <p style='color: red;'>c.thru.shell</p>
                <span style='color: white;'><i>Creating new media art and sounds, through a distorted lens: a reflection of life in the 21st century.</i><span>
                <img src={% static '/admin/img/me.jpg' %} style='max-width: 40%; max-height: 40%; padding-top: 10px;'>
                {% comment %} <p>Creating new media art and sounds, through a distorted lens: a reflection of life in the 21st century.</p> {% endcomment %}
            </div>
            
        </div>
    </div>
</div>

{% endblock %}