{% extends 'index.html' %}
{% load static %}
{% block content %}

<style>
    .contact a {
        filter: grayscale(100%);
        -webkit-transition: filter 0.5s ease-in-out;
    }
    .contact a:hover {
        filter: grayscale(0%);
        -webkit-transition: filter 0.5s ease-in-out;
    }

</style>

<div class='row'>
    <div class='mobile-about'>
        <div class='col s12'>
            <div class='bio'>
                <img src={% static '/admin/img/me.jpg' %} style='max-width: 40%; max-height: 40%; padding-top: 10px;'>
                {% comment %} <p>Creating new media art and sounds, through a distorted lens: a reflection of life in the 21st century.</p> {% endcomment %}
            </div>
                <div class='contact'>
                    <p style='color: red;'>c.thru.shell</p>
                    <a href='https://twitter.com/cThruShell'>
                        <img src={% static 'admin/img/2021 Twitter logo - blue.png' %} style='width: 40px; height: 40px;'>
                    </a>
                    <a href='https://www.instagram.com/c.thru.shell/'>
                        <img src={% static 'admin/img/Instagram_Glyph_Gradient.png' %} style='width: 40px; height: 40px;'>
                    </a>
                    <a href='https://cthrushell.bandcamp.com/'>
                        <img src={% static 'admin/img/bandcamp-button-bc-circle-aqua-64.png' %} style='width: 40px; height: 40px;'>
                    </a>
                    <a href='https://open.spotify.com/artist/6u8kkaRJL5T3xJbwoEqBaD?si=ZAWfG-9VQKuBzWvA21d8Wg'>
                        <img src={% static 'admin/img/Spotify_Icon_CMYK_Green.png' %} style='width: 40px; height: 40px;'>
                    </a>
                </div>
            <span style='color: white; position: relative; top: -85px; left:-80px;'><i>Creating new media art and sounds, through a distorted lens: a reflection of life in the 21st century.</i><span>
        </div>
    </div>
</div>

{% endblock %}