{% extends 'index.html' %}
{% load static %}
{% block content %}

<style>
    .contact a {
        filter: grayscale(100%);
        -webkit-transition: filter 0.5s ease-in-out;
    }
    .contact a:hover {
        filter: grayscale(0%);
        -webkit-transition: filter 0.5s ease-in-out;
    }

</style>

<div class='row'>
    <div class='col s12'>
        <div class='bio-image'>
            <img src={% static '/admin/img/me.jpg' %} style='max-width: 40%; max-height: 40%; padding-top: 10px;'>
        </div>
        <div class='title'>
            <p style='color: red; font-size: 60px;'>c.thru.shell</p>
        </div>
        <p style='position: relative; top: -220px; left: -220px; color: yellow; font-size: 35px;'>Creating new media art and sounds,</p>
        <p style='position: relative; top: -190px; color: yellow; font-size: 30px;'>through a distorted lens:</p>
        <p style='position: relative; top: -150px; color: aqua; font-size: 20px;'>a reflection of life in the 21st century.</p>
            <div class='contact'>
                <a href='https://twitter.com/cThruShell'>
                    <img src={% static 'admin/img/2021 Twitter logo - blue.png' %} style='width: 50px; height: 50px;'>
                </a>
                <a href='https://www.instagram.com/c.thru.shell/'>
                    <img src={% static 'admin/img/Instagram_Glyph_Gradient.png' %} style='width: 50px; height: 50px;'>
                </a>
                <a href='https://cthrushell.bandcamp.com/'>
                    <img src={% static 'admin/img/bandcamp-button-bc-circle-aqua-64.png' %} style='width: 50px; height: 50px;'>
                </a>
                <a href='https://open.spotify.com/artist/6u8kkaRJL5T3xJbwoEqBaD?si=ZAWfG-9VQKuBzWvA21d8Wg'>
                    <img src={% static 'admin/img/Spotify_Icon_CMYK_Green.png' %} style='width: 50px; height: 50px;'>
                </a>
            </div>     
    </div>
</div>

{% endblock %}