{% extends 'index.html' %}
{% load static %}

{% block content %}




<div class='row'>
    <div class='col s12 center-align'>
            <div id='feat-item'>
                
            </div>
    </div>
</div>
<div class='row'>
    <div class='col s12'>
        <div id='thumb-bar'>
        </div>
    </div>
</div>


<script>
    // thumb files
    const thumbBar = ["{% static 'admin/img/flower goddess-upscaled-corrected-small.jpeg' %}", 
    "{% static 'admin/img/flower_album_art(8)_1-corrected3-small.jpeg' %}", 
    "{% static 'admin/vids/ai/1-small.mp4' %}",
    "{% static 'admin/img/flower-midjourney7-not-upscaled-small.jpeg' %}",
    "{% static 'admin/img/spirit flowers(2)-small.jpeg' %}",
    "{% static 'admin/vids/ai/10.mp4' %}"]

    // larg files
    {% comment %} const mainDisplay = ["{% static 'admin/img/flower goddess-upscaled-corrected-small.jpg' %}", 
    "{% static 'admin/img/flower_album_art(8)_1-corrected3-small.jpg' %}", 
    "{% static 'admin/img/flower-midjourney7-not-upscaled-small.jpg' %}",
    "{% static 'admin/img/spirit flowers(2)-small.jpg' %}",
    "{% static 'admin/vids/ai/heavenly_animation_final.mp4' %}",
    "{% static 'admin/vids/ai/10.mp4' %}"] {% endcomment %}

    for (let i = 0; i < thumbBar.length; i++) {
        if (thumbBar[i].split('.').pop() == 'mp4') {
            document.getElementById('thumb-bar').innerHTML += 
            `<video src=${thumbBar[i]} class='thumb' muted loop onmouseover=this.play() onmouseout=this.pause() type='video/mp4' class='videos'>`
        }
        else if (thumbBar[i].split('.').pop() == 'jpeg' || thumbBar[i].split('.').pop() == 'png') {
            document.getElementById('thumb-bar').innerHTML +=
            `<img src=${thumbBar[i]} class='thumb' type='image'>`
        }
    }

    const thumbs = Array.from(document.getElementsByClassName('thumb'))

    thumbs.forEach(function(element) {
        console.log(element)
        element.addEventListener('click', function() {
            // document.getElementById('displayed').src = element.src
            document.getElementById('feat-item').innerHTML = element
        })
    })
</script>

{% endblock %}