{% extends 'index.html' %}
{% load static %}
{% block content %}

<style>

    p {
        font-color: black;
    }

</style>

<div class='row'>
    <div class='col s12 m12'>
        <div class='card' style='background-color: black;'>
            <div class-'card-image waves-effect waves-block wave-light'>
                <img class='activator' src={% static 'admin/img/2.png' %} style='max-width: 300px; max-height: 300px;'>
            </div>
            <div class='card-content'>
                <span class='card-title activator grey-text text-darken-3'>
                    BandMap
                </span>
                <p><a href='https://bandmapv2.herokuapp.com' style='font-size:18px;'>Desktop App</a></p>
            </div>
            <div class='card-reveal' style='background-color: rgb(242,242,252);'>
                <span class='card-title black-text'>BandMap</span>
                <p style='color: black;'>BandMap is a way to explore Bandcamp on a Map. Based on a user's 
                    genre and location preferences, BandMap creates an interactive 
                    map where they can find links and/or previews to the artist's 
                    music. Also, there is a feature that allows the user to create a 
                    Spotify playlist of the artists from a selected city.
                </p>
            </div>
        </div>
    </div>
    <div class='col s12 m12'>
        <div class='card' style='background-color: black;'>
            <div class-'card-image waves-effect waves-block wave-light'>
                <img class='activator' src={% static 'admin/img/Medium-Logo-White-RGB@1x.png' %} style='max-width: 300px; max-height: 300px;'>
            </div>
            <div class='card-content'>
                <span class='card-title activator grey-text text-darken-3'>
                    Data Stories
                </span>
                <p><a href='https://medium.com/@xristos-katsaros' style='font-size:18px;'>Medium</a></p>
            </div>
            <div class='card-reveal' style='background-color: rgb(242,242,252);'>
                <span class='card-title black-text' style='box-shadow:10px 2px 3px white;'>Data Stories</span>
                <p style='color: black;'>Medium is where I publish data-driven stories on datasets I build
                    from scraping the web. Using the datasets, I create data visualizations 
                    and talk about the insights I found (or didn't find) from analysis.
                </p>
            </div>
        </div>
    </div>
</div>

<script>

</script>

{% endblock %}