{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel='stylesheet' href="{% static 'admin/css/style.css' %}">
    <script src="{% static 'admin/js/main.js' %}"></script>
</head>

<body>
    <!-- navigation -->
    <div class='row'>
        <div class='col s3' id='mobile-button'>
            <div class='side-nav'>
                <ul>
                    <li><a href={% url 'main:about' %}>about</a></li>
                    <li><a href={% url 'main:ai_art' %} id="ai">ai_art</a></li>
                    <li><a href={% url 'main:glitch_art' %} id="animation">glitch_art</a></li>
                    <li><a href={% url 'main:data_dev' %}>data&dev</a></li>
                    <li><a href={% url 'main:music' %} id="music">music</a></li>
                </ul>
            </div>
        </div>
    

        <div class='col s9'>
                {% block content %}
                {% endblock %}
        </div>
    </div>
    
</body>
</html>