{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel='stylesheet' href="{% static 'admin/css/style.css' %}">
    <script src="{% static 'admin/js/main.js' %}"></script>
</head>

<body>
    <div class='home-video'>
        <video autoplay muted loop src={% static 'admin/vids/train_1.mp4' %}>
    </div>

    <div class='overlay'>
        <!-- navigation -->
        <a href='javascript:void(0)' id="navBtn">‡‡</a>

        <div class='container'>
            <div class='content'>
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
        <div class='row'>
            <div class='col s3'>
                <div class='side-nav' id='nav'>
                    <ul>
                        <li><a href={% url 'main:index' %}>home</a></li>
                        <li><a href={% url 'main:about' %}>about</a></li>
                        <li><a href={% url 'main:motion' %} id="motion">motion</a></li>
                        <li><a href={% url 'main:stills' %} id="stills">stills</a></li>
                        <li><a href={% url 'main:data_dev' %} id='data'>data&dev</a></li>
                        <li><a href={% url 'main:music' %} id="music">music</a></li>
                        <li>
                            <div class='contact'>
                                <a href='https://twitter.com/cThruShell'>
                                    <img src={% static 'admin/img/2021 Twitter logo - blue.png' %}>
                                </a>
                                <a href='https://www.instagram.com/c.thru.shell/'>
                                    <img src={% static 'admin/img/Instagram_Glyph_Gradient.png' %}>
                                </a>
                                <a href='https://cthrushell.bandcamp.com/'>
                                    <img src={% static 'admin/img/bandcamp-button-bc-circle-aqua-64.png' %}>
                                </a>
                                <a href='https://open.spotify.com/artist/6u8kkaRJL5T3xJbwoEqBaD?si=ZAWfG-9VQKuBzWvA21d8Wg'>
                                    <img src={% static 'admin/img/Spotify_Icon_CMYK_Green.png' %}>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script>
        if (window.location.href == 'http://127.0.0.1:8000/' || window.location.href == 'http://cthrushell.herokuapp.com/') {
            console.log('it worked')
            document.querySelector('.home-video').style.opacity = '100%'
        } else {
            document.querySelector('.home-video').style.opacity = '20%'
            document.querySelector('.home-video').style.filter = 'hue-rotate(120deg)'
        }

        document.querySelector('#navBtn').addEventListener('click', function() {
            if (document.querySelector('.side-nav').style.width == '300px') {
                document.querySelector('.side-nav').style.width = '0'
            } else {
                document.querySelector('.side-nav').style.width = '300px'
            }
        })

    </script>
    
</body>
</html>