{% extends 'index.html' %}
{% load static %}

{% block content %}

<style>
    iframe {
        filter: hue-rotate(0deg);
        -webkit-transition: filter 1.5s ease-in-out;
    }
    iframe:hover {
        filter: hue-rotate(180deg);
        -webkit-transition: filter 1.5s ease-in-out;
    }
</style>

<div class='row center-align' style="margin-top: 40px; margin-left: 40px; padding-top: 40px; padding-left: 40px;">
    <div class='col 4s'>
        <iframe style="border: 0; width: 250px; height: 250px;" src="https://bandcamp.com/EmbeddedPlayer/track=2069484687/size=large/bgcol=ffffff/linkcol=de270f/minimal=true/transparent=true/" seamless><a href="https://cthrushell.bandcamp.com/track/this-is-fine">this is fine by c.thru.shell</a></iframe>
    </div>
    <div class='col 4s'>
        <iframe style="border: 0; width: 250px; height: 250px;" src="https://bandcamp.com/EmbeddedPlayer/album=1371312830/size=large/bgcol=333333/linkcol=4ec5ec/minimal=true/transparent=true/" seamless><a href="https://cthrushell.bandcamp.com/album/synthia">synthia by c.thru.shell</a></iframe>
    </div>
    <div class='col 4s'>
        <iframe style="border: 0; width: 250px; height: 250px;" src="https://bandcamp.com/EmbeddedPlayer/track=3112600876/size=large/bgcol=333333/linkcol=4ec5ec/minimal=true/transparent=true/" seamless><a href="https://cthrushell.bandcamp.com/track/our-disturbing-universe-2">our disturbing universe by c.thru.shell</a></iframe>
    </div>
</div>
<div class='row center-align' style='margin-bottom: 40px; margin-left: 80px; padding-bottom: 40px; padding-left: 80px;'>
    <div class='col 4s'>
        <iframe src="https://open.spotify.com/embed/track/1md4haIu5TKfMdmWnbW4W4?utm_source=generator" height="250" style='border: 0;'></iframe>
    </div>
    <div class='col 4s'>
        <iframe src="https://open.spotify.com/embed/track/19BcPEarJhnIRWoVgsfn0u?utm_source=generator" height="250" style='border: 0;'></iframe>
    </div>
</div>
{% endblock %}