{% extends 'index.html' %}
{% load static %}

{% block content %}


<div class='row'>
    <div class='col s12 center-align'>
            <div id='feat-item'>
                <img id='displayed'>
            </div>
    </div>
</div>
<div class='row'>
    <div class='col s12'>
        <div id='thumb-bar'>
        </div>
    </div>
</div>

<script>
    const thumbBar = ["{% static 'admin/img/glitch-bg.png' %}", 
    "{% static 'admin/img/flower2.png' %}",
    "{% static 'admin/img/flowers3.jpg' %}",
    "{% static 'admin/img/alien000.jpg' %}",
    "{% static 'admin/img/cherry_blossoms2.jpg' %}",
    "{% static 'admin/img/cyborg_eyes.jpg' %}",
    "{% static 'admin/img/flower-glitch1000.jpg' %}",
    "{% static 'admin/img/flower-glitch2000.jpg' %}",
    "{% static 'admin/img/me.jpeg' %}",
    "{% static 'admin/img/plant_glitch.jpg' %}",
    "{% static 'admin/img/self_glitch.jpg' %}",
    "{% static 'admin/img/space_ribbons.jpg' %}",
    "{% static 'admin/img/statue.jpg' %}"]

    for (let i = 0; i < thumbBar.length; i++) {
        document.getElementById('thumb-bar').innerHTML += 
        `<img src=${thumbBar[i]} class='thumb'>`
    }

    const thumbs = Array.from(document.getElementsByClassName('thumb'))
    
    thumbs.forEach(function(element) {
        element.addEventListener('click', function() {

            document.getElementById('displayed').src = element.src
            // document.getElementById('feat-item').innerHTML = element
        })
    })
</script>

{% endblock %}