{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class='pop-up'>
    <div class='col s12 m12'>
        <a href="javascript:void(0)" class="closebtn" onclick="closePopup()">&times;</a>
            <div class='feat-item'></div>
    </div>
</div>
<div class='row'>
    <div class='col s12'>
        <div id='thumb-bar'></div>
    </div>
</div>

<script>
    // open and close functions
    function closePopup() {
        return document.querySelector('.pop-up').classList.remove('activate')
    }

    // thumb files
    const thumbBar = ["{% static 'admin/img/cyborg_eyes.jpeg' %}",
    "{% static 'admin/img/psychospace.jpeg' %}",
    "{% static 'admin/img/queen1.jpeg' %}",
    "{% static 'admin/img/seed_450249_00011-art-scale-4_00x-gigapixel.jpeg' %}",
    "{% static 'admin/img/glitch-bg.png' %}",
    "{% static 'admin/img/spirit flowers(2)-small.jpeg' %}",
    "{% static 'admin/img/flower goddess-upscaled-corrected-small.jpeg' %}" 
    ]

    // separate images and videos
    for (let i = 0; i < thumbBar.length; i++) {
        if (thumbBar[i].split('.').pop() == 'mp4') {
            console.log('VIDEO')
            document.getElementById('thumb-bar').innerHTML += 
            `<video src=${thumbBar[i]} class='thumb' muted loop onmouseover=this.play() onmouseout=this.pause() type='video/mp4' class='videos'>`
        }
        else if (thumbBar[i].split('.').pop() == 'jpeg' || thumbBar[i].split('.').pop() == 'png') {
            console.log('IMAGE')
            document.getElementById('thumb-bar').innerHTML +=
            `<img src=${thumbBar[i]} class='thumb' type='image'>`
        } else if (thumbBar[i].split('.').pop() == 'webp') {
            document.getElementById('thumb-bar').innerHTML +=
            `<img src=${thumbBar[i]} class='thumb' type='image'>`
        }
        
    }

    // combine all thumbs
    const thumbs = Array.from(document.getElementsByClassName('thumb'))

    // create click events for images and videos
    thumbs.forEach(function(element) {
        if (element.src.split('.').pop() == 'mp4') {
            element.addEventListener('click', function() {
                document.querySelector('.pop-up').classList.add('activate')
                document.querySelector('.feat-item').innerHTML = `<video src=${element.src} autoplay muted loop type='video/mp4'>`
            })            
        } else if (element.src.split('.').pop() == 'png' || element.src.split('.').pop() == 'jpeg') {
            element.addEventListener('click', function() {
                document.querySelector('.pop-up').classList.add('activate')
                document.querySelector('.feat-item').innerHTML = `<img src=${element.src} type='image'>`
            })
        } else if (element.src.split('.').pop() == 'webp') {
            element.addEventListener('click', function() {
                document.querySelector('.pop-up').classList.add('activate')
                document.querySelector('.feat-item').innerHTML = `<img src=${element.src} type='image'>`
            })
        }
    })
</script>

{% endblock %}